# LIST

In [2]:
lst = list((1,2,3,4))

In [3]:
lst

[1, 2, 3, 4]

In [4]:
lst.append('Arun')

In [5]:
lst

[1, 2, 3, 4, 'Arun']

In [6]:
lst.copy()

[1, 2, 3, 4, 'Arun']

In [9]:
lst.reverse()
lst

['Arun', 4, 3, 2, 1]

In [13]:
lst.pop(1)

3

In [14]:
lst

['Arun', 2, 1, 0, 4, 0, 4]

In [15]:
lst.count(0)

2

In [16]:
lst.index(4)

4

# DICTIONARY

In [17]:
d = {'Name':'Arun', 'Age':22, 'City':'Bhopal'}

In [18]:
d.get('Age')

22

In [19]:
d.items()

dict_items([('Name', 'Arun'), ('Age', 22), ('City', 'Bhopal')])

In [20]:
d.keys()

dict_keys(['Name', 'Age', 'City'])

In [21]:
d.values()

dict_values(['Arun', 22, 'Bhopal'])

In [22]:
d.setdefault('Name', 'Arun Shelke')

'Arun'

In [23]:
d.pop('Age')

22


# SETS

In [1]:
s = set((1, 2, 3, 4, 'Arun'))

In [2]:
s

{1, 2, 3, 4, 'Arun'}

In [4]:
s.add(22)
s

{1, 2, 22, 3, 4, 'Arun'}

In [7]:
s.copy()

{1, 2, 22, 3, 4, 'Arun'}

In [8]:
s.pop()

'Arun'

In [9]:
s1 = {'Bhopal','Pyhton'}
s.update(s1)
s

{1, 2, 22, 3, 4, 'Bhopal', 'Pyhton'}

In [10]:
s.discard('Bhopal')
s

{1, 2, 22, 3, 4, 'Pyhton'}

In [11]:
## deletes the complete set

s.clear()

# TUPLES

In [14]:
t = tuple((1, 2, 3, 4, 'Arun', 1))

In [15]:
t.count(1)

2

In [16]:
t.index('Arun')

4

# STRING

In [17]:
str = 'Hi! I am Arun and learning Python.'

In [18]:
str.casefold()

'hi! i am arun and learning python.'

In [19]:
str.count('a')

3

In [20]:
str.find('Arun')

9

In [21]:
str.endswith('.')

True

In [23]:
str.partition('and')

('Hi! I am Arun ', 'and', ' learning Python.')